.navbar {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(160, 163, 205, 0.989233193277311) 36%,
    rgba(0, 212, 255, 1) 100%
  );
  color: rgb(201, 199, 199);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  ul {
    display: flex;
    column-gap: 40px;
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
    li {
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: rgb(201, 199, 199);
        }
      }
    }
  }
  button {
    width: 80px;
    margin: 0 20px 0 auto;
    border: none;
    background-color: rgb(238, 57, 57);
    border-radius: 6px;
    color: white;
    transition: 0.2s;
    &:hover {
      -webkit-box-shadow: 0px 10px 13px -7px #000000,
        7px 1px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 0px 10px 13px -7px #000000, 7px 1px 15px 5px rgba(0, 0, 0, 0);
      background-color: red;
    }
  }
  .loginButton {
    background-color: rgb(123, 188, 25);
    &:hover {
      background-color: rgb(144, 228, 17);
    }
  }
}
